<header class="nav">
  <div class="nav__inner">
    <a class="logo" href="{{ '/' | relative_url }}">Montreal Academy</a>
    <nav class="nav__links">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about/' | relative_url }}">About Us</a>
      <a href="{{ '/m/' | relative_url }}">Montrealの生活情報</a>
      <a href="{{ '/single-post/' | relative_url }}">Blog</a>
      <a href="{{ '/covid-19/' | relative_url }}">COVID-19</a>
      <a href="{{ '/contact/' | relative_url }}">Contact Us</a>
    </nav>
  </div>
</header>
